# Ignore build output
bin/
obj/

# Ignore NuGet packages
*.nupkg
*.snupkg
**/packages/

# Ignore Visual Studio files
.vs/
*.suo
*.user
*.sln.docstates

# Ignore Visual Studio Code files
.vscode/
*.code-workspace

# Ignore Azure deployment files
*.publishsettings
*.publishproj
*.pubxml
*.pubxml.user

# Ignore C# build output
*.dll
*.exe
*.pdb
*.cache
*.log
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.user
*.vshost.*
*.vspscc
*.vssscc
*.xap
*.xsn
*.xss
*.bak
*.cache
*.scc
*.swp
*.userprefs
*.DS_Store